PORT=3000
CF_API_TOKEN=xxxxxxxxxxxxxxxxx
CF_ZONE_ID=yyyyyyyyyyyyy
CF_RECORD_NAME=loadbalancer.seudns.com
TELEGRAM_BOT_TOKEN=APITELEGRAMBOTTALKTOBOTFATHER
TELEGRAM_CHAT_ID=CHATITYOUCANGETWITHRAWDATABOT
CF_AUTH_EMAIL=YOURCLOUDFLAREEMAIL
